{% extends 'baseadmin.html.twig' %}
{% block pageHeading %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>

    </div>
{% endblock %}
{% block content %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}

                <div class="form-group ">
                        <label for="input-1">Domaines</label>
                        {{ form_widget(form.domaines) }}
                </div>


            <center>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success px-5 w-25"><i class="icon-lock"></i> Save</button>
                    </div>
                </center>

            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}